.wrapper {
  width: 100%;
  max-width: $grid-max-width + $grid-spacing * 2;
  padding: 0 $grid-spacing;
  margin: 0 auto;

  @include mq($breakpoint-desktop) {
    max-width: $grid-max-width + $grid-spacing-wide * 2;
    padding: 0 $grid-spacing-wide;
  }

  &.small {
    @include mq($breakpoint-desktop) {
      max-width: 1060px;
    }
  }

  &.medium {
    @include mq($breakpoint-desktop) {
      max-width: 1126px;
    }
  }

  &.large {
    @include mq($breakpoint-desktop) {
      max-width: 1500px;
    }
  }

  &.full-width {
    max-width: 100%;
  }
}

.screen {
  max-width: 90em;
  margin: 0 auto;
  position: relative;
}

.row,
.row:after,
.row:before {
  margin: 0;
  padding: 0;
}

.row,
.wrapper {
  @include clearfix();
  @include box-sizing(border-box);
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
}

.row {
  margin: 0 -1 * $grid-spacing;

  @include mq($breakpoint-desktop) {
    margin: 0 -1 * $grid-spacing-wide;
  }
}

.col {
  padding: 0 $grid-spacing;

  @include mq($breakpoint-desktop) {
    padding: 0 $grid-spacing-wide;
  }
}

[class*="col-"],
.col-full-width {
  @include box-sizing(border-box);
  width: 100%;
  float: left;

  &.no-vert-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  &.no-horz-padding {
    padding-left: 0;
    padding-right: 0;
  }

  &.no-padding {
    padding: 0;
  }
}

@for $i from 1 through $grid-columns {
  .col-smallest-#{$i} {
    width: 100% / $grid-columns * $i;
  }
}

@include mq($breakpoint-small) {
  @for $i from 1 through $grid-columns {
    .col-small-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@include mq($breakpoint-medium) {
  @for $i from 1 through $grid-columns {
    .col-medium-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@include mq($breakpoint-wide) {
  @for $i from 1 through $grid-columns {
    .col-wide-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}
.hide,
.hidden {
  display: none;
}

@include mq($breakpoint-medium) {
  .row-medium-flex {
    display: flex;
    flex-wrap: wrap;

    &-row {
      flex-direction: row;
    }

    &-reverse {
      flex-direction: row-reverse;
    }

    &-aligncenter {
      align-items: center;
    }

    &-alignbottom {
      align-self: flex-end;
    }

    &-justifycontentcenter {
      justify-content: center;
    }

    &-direction {
      flex-direction: column;
    }
  }
}

@include mq($breakpoint-desktop) {
  .hide-for-desktop {
    display: none !important;
  }
  .row-wide-flex {
    display: flex;
    flex-wrap: wrap;

    &-row {
      flex-direction: row;
    }

    &-reverse {
      flex-direction: row-reverse;
    }

    &-aligncenter {
      align-items: center;
    }

    &-alignbottom {
      align-self: flex-end;
    }

    &-justifycontentcenter {
      justify-content: center;
    }

    &-direction {
      flex-direction: column;
    }
  }
}

@include mq($breakpoint-mobile) {
  .hide-for-mobile {
    display: none !important;
  }
}
